* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial;
  max-width: 70vw;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 25px;
}

header nav {
  background: #f5f5f5;
  padding: 15px 0;
}

header a {
  display: inline-block;
  font-size: 1.1rem;
  color: #28B351;
  margin-right: 16px;
  text-decoration: none;
  transition: all 0.2s;
}

header a:hover {
  color: #222;
  transform: scale(1.1)
}

.potrait {
  width: 250px;
}

form {
  margin-top: 20px;
}

input {
  border: 1px solid #28B351;
  padding: 12px;
  border-radius: 30px;
  outline: none;
}

button {
  cursor: pointer;
  border: 1px solid #28B351;
  background: #28B351;
  color: #f5f5f5;
  padding: 12px;
  border-radius: 30px 0px 30px 30px;
  outline: none;
}

/* Weather forecast section ------------------ */

p.error {
  display: none;
  font-size: 1.5rem;
  margin: 100px;
}

.forecast {
  display: none;
  width: 370px;
  margin: 30px auto;
  background: #F0E68C;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
}

figure {
  padding: 25px;
}

figure img {
  width: 250px;
  background: #efe;
  border-radius: 50%;
}

.forecastDetails {
  padding: 25px 10px 0;
  color: #222;
}

.forecastDetails .country,
.forecastDetails .summary {
  margin: 16px 0;
  letter-spacing: 0.1rem;
}

.forecastDetails .temp {
  font-size: 56px;
  letter-spacing: 0.2rem;
}

p.low,
p.high {
  display: inline-block;
  font-size: 1rem;
  padding: 16px 0;
  font-weight: 400;
}

p.low {
  margin-right: 30px;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}